#container.cu {
  padding: 0 40px 60px !important;

  .bnnr {
    background: url(../images/banner2.jpg) no-repeat;
  }
  .map {
    border: 1px solid @goldborder;
    margin-bottom: 10px;
  }
  .content {
    min-height: 880px;
  }
  article {
    form {
      margin-bottom: 80px;

      div:nth-child(2), div:first-child {
        display: inline-block;
        vertical-align: top;
      }
      div:first-child {
        margin-right: 20px;
      }
      textarea {
        width: 608px !important;
        height: 110px !important;
      }
      input {
        width: 286px !important;
      }
      input[type="submit"] {
        margin: 0 !important;
        width: 297px !important;
      }
    }
  }
  aside {
    position: absolute;
    top: 280px;
    right: 40px;

    .call {
      background-color: @brown;
      padding: 15px 15px 30px;
      margin-bottom: 20px;

      h6 {
        color: @gold;
        text-shadow: 0 1px 1px #1c1b1a;
      }
      .phone {
        text-align: center;
        color: white;
        font-size: 22pt;
        padding-top: 10px;
        line-height: 36pt;
        text-shadow: 1px 1px 1px #1c1b1a;
      }
    }
    .hours {

      ul {
        margin-top: 20px;
        li {
          line-height: 23pt;
          margin-bottom: 20px;
          background : url(../images/dot.png) 0 19px repeat-x;
          width: 268px;

          span {
            background : white;

            &.mode {
              position: absolute;
              right: 0;
              width: 104px;
            }
          }
        }
      }
    }
  }
}
footer.cu {
  margin: -60px auto 0 !important;
  height: 60px !important;

  .inner {
    padding: 20px 40px 0 !important;
    height: 40px !important;

    p {
      margin-top: 5px !important;
    }
    .md_by {
      margin-top: -13px !important;
    }
  }
}